@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* estilos tarjetas de codigo */

.cont-mainTr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tit-Gal {
    background-color: #191c32;
    width: 100%;
    height: 700px;
}

.tit-Gal .head h1 {
    font-size: 3em;
    margin: -2% 30px 60px 30px;
}

.tit-Gal h1 span {
    color: aqua;
    font-family: 'Montserrat', sans-serif;
}

.cont-tarjeta {
    width: 70%;
    height: 80%;
    margin: 20px 20px 20px 10%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.cont-tarjeta__logo {
    width: 70%;
    height: 35%;
    margin: auto;
}

.cont-tarjeta__logo h1 {
    text-align: center;
    margin-top: 10px;
    color: rgb(80, 80, 80);
    font-weight: bolder;
    font-size: 1.7rem;
}

.cont-tarjeta__logo .fa-css3-alt,
.fa-html5,
.fa-node-js,
.fa-php {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cont-tarjeta__logo .fa-css3-alt {
    border-radius: 10% 10% 60% 60%;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    color: #3D81FF;
}

.cont-tarjeta__logo .fa-html5 {
    border-radius: 10% 10% 60% 60%;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    color: #FEAC54;
}

.cont-tarjeta__logo .fa-node-js {
    border-radius: 10% 10% 60% 60%;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    color: #FFE739;
}

.cont-tarjeta__logo .fa-php {
    border-radius: 10% 10% 60% 60%;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    color: #606AFF;
}

.cont-tarjeta article {
    margin: 30% 0 0 0;
    text-align: center;
    color: #505050;
    font-weight: bolder;
    line-height: 1.4rem;
}

.Bod-gal {
    font-family: 'Open Sans', sans-serif;
}

.about-Wrk {
    background: #fff;
    padding-bottom: 30px;
}

.Bod-gal a {
    text-decoration: none;
}

.Bod-gal .Cont-gal {
    width: 90%;
    max-width: 99.7%;
    margin: auto;
}

.Title-Gal .head h1 {
    font-size: 3em;
    margin: -2% 30px 60px 26%;
    color: #191c32;
}

.Title-Gal .head h1 span {
    color: aqua;
}

.Title-Gal form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Title-Gal .Bar-serch {
    width: 50%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: 1px solid #9B9B9B;
    box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.69);
    text-align: center;
    font-size: 16px;
}

.Title-Gal .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Title-Gal .categorias a {
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

.Title-Gal .categorias a.activo {
    color: #000;
}

.Cont-gal .Title-Gal .logo h1 {
    color: #000;
}


/* Galeria Grid */

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 500ms;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(25% - 20px);
}

.grid .item img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}

.grid .item-contenido {
    position: relative;
}


/* galeria y descripcion*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    display: none;
}

.overlay.activo {
    display: flex;
}

.overlay img {
    max-width: 100%;
    margin: 10% 10% 10% 10%;
}

.overlay .descripcion {
    display: block;
    background: #fff;
    padding: 20px;
    color: #000;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
    max-height: 80%;
    margin: auto;
}

.contenedor-img {
    position: relative;
}

.overlay #btn-cerrar-popup {
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}