.body-expanded{
    margin-left: var(--width);
}

#main-container{
    color: white;
}

#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
#sidemenu a{
    color: white;
    text-decoration: none;
}

/* Header */

#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}


#sidemenu #header #tittle{
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #tittle,#sidemenu #header #menu-btn{
    vertical-align: middle;
}

#sidemenu #header #menu-btn{
    display: inline-block;    
}

#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburguer{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}


/* Foto del perfil */


#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
} 

#sidemenu #profile #photo .imagen{
    border-radius: 50%;
    width: 160px;
}

#sidemenu #profile #photo,#sidemenu #profile #name{
    font-size: 24px;
    padding: var(--padding);
    overflow: hidden;
}

#sidemenu #menu-items{
    overflow: hidden;
}

#sidemenu #menu-items .item{
    width: var(--width);
}

#sidemenu #menu-items .item .icon{
    display: inline-block;
}